@charset "UFT-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height:100vh;
    width: 100vw;
    background-color: black;
}

}


main{
    height: 100vh;
    position: relative;

}
body{
    background: url(pacote-d013/pacote-d013/imagens/fundo\ fortaleza.jpg);
    background-size: cover;
    background-attachment: fixed;
}


section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-color: blue;
    background: url(pacote-d013/pacote-d013/imagens/frame-iphone.png) no-repeat;
}
 iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
 }
 menu{
    display: none;
 }

 span#fortal{
    border-bottom: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.018);
    padding: 20px;
    color: blue;
    display: block;
    cursor: pointer;
 }
 
 section#redes-sociais img{
    width: 50px; 
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2x 5x rgba(0, 0, 0, 0.404);

 }

 section#eu img{
    width: 50px; 
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2x 5x rgba(0, 0, 0, 0.404);
    position: relative;
    
 }

    section#eu{
        text-align:right;
        
    }

 section#redes-sociais{
 text-align: right;
 }
 section#redes-sociais img:hover{
    border:2px solid rgba(255, 255, 255, 0.613);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5x 10px black;
    transition: transform 0.5s;
 }

 @media (min-width: 768px){
    span#fortal{
        display: none;
    }
    menu{
        display: block;
    }
}


